* {
  margin: 0px;
  padding: 0px;
}
body {

background-image: url("C:/Users/27092/Documents/Klasscode/HTML over informatica/IK.jpg");
  background-attachment: fixed;
  background-position: center;
  font-size: 20px;
  width:100%;
  background-blend-mode: darken;
  margin-left: 10%;
  background-size: cover;
}
#menu li { /* de list items */
  display: inline;
  float: left;
  background-color: black;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid pink;
}
.Veronica{
border-style: dashed;
border-radius: 7pc;
border-color: pink;
}
.Nahom{
border-style: dotted;
border-radius:45px;
border-color: green;
}
.Yosan{
border-style: groove;
border-radius: 12px,45px;
border-color: gold;
}

table{
  background-color:skyblue;
  opacity: 1;
  margin-top: 10%;
}
table{
  width:100%;
 background-color: #6495ed;
}
h1 {
  opacity: 1;
color: green;
  text-align: left;
  font-weight: bolder;
}

h2 {
  opacity: 1;
  font-variant: small-caps;
  color: green;

  text-align: left;
}

p {
  font-style: italic;
  opacity: 1;
  text-align: justify;
}
